<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting</title>
    <style>
        .parent {
            margin: 16px;
            padding: 32px 32px;
        }

        .child {
            display: inline-block;
            padding: 16px 16px;
        }
    </style>
</head>
<body>

<div class="navbar" th:replace="~{/fragments/navbar :: navbar}"></div>

<h1 align="center">Мимимиметр</h1>
<h4 align="center">Кто из них мимимишнее? Кликни по фотографии!</h4>

<div align="center" class="parent">
    <td th:object="${pair}">
        <div class="child">
            <form th:action="@{/voting}" method="POST">
                <input type="hidden" name="selectedContenderId" th:value="${pair.getFirstContender().getId()}">
                <input type="hidden" name="secondContenderId" th:value="${pair.getSecondContender().getId()}">
                <input type="image" th:src="@{'/images/cats/' + ${pair.getFirstContender().getImage()}}">
                <p th:text="${pair.getFirstContender().getName()}"></p>
            </form>
        </div>
    </td>

    <td th:object="${pair}">
        <div class="child">
            <form th:action="@{/voting}" method="POST">
                <input type="hidden" name="selectedContenderId" th:value="${pair.getSecondContender().getId()}">
                <input type="hidden" name="secondContenderId" th:value="${pair.getFirstContender().getId()}">
                <input type="image" th:src="@{'/images/cats/' + ${pair.getSecondContender().getImage()}}">
                <p th:text="${pair.getSecondContender().getName()}"></p>
            </form>
        </div>
    </td>

</div>
</body>
</html>